*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    /* color: white; */
}
body{
    background-image: linear-gradient(-40deg,rgba(169, 252, 255, .64),rgba(161,252,255,.64), rgba(125,216,255,.64), rgba(82,157,255,0.7), rgba(81,188,255,1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode:overlay;
    background-position: bottom right;
}

.card{
    color: black;
    display: flex;
    margin-top: 40px;
    padding: 30px;
    justify-self: center;
    justify-content: center;
    background: rgba(125,216,255,.15);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.30);
    box-shadow: -10px 4px 10px rgba(0,0,0,0.3);

    width: 400px;

}

.formItem{
    display: flex;
    flex-direction: column;
}